* {
  box-sizing: border-box;
  background-color: rgb(222, 235, 233);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #13293d;
}

body {
}

header {
  text-align: center;
  background: #13293d;
  color: #fff;
}

nav {
  display: flex;
  /* Align the child elements to the right side of the parent */
  justify-content: flex-end;
  background: none;
  margin: 10px;
}

nav a {
  color: #296297;
  text-decoration: none;
  text-align: center;
  background: none;
  border-bottom: #296297 3px solid;
  margin: 3%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#self-pic {
  width: 250px;
}

#work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#climate-closet-logo {
  width: 210px;
}
